<template>
<v-container>
  <v-row>
    <v-menu cols="auto" align="right" offset-y>
      <template v-slot:activator="{ on }">
      <v-btn :disabled="!movies" v-on="on">
        <v-icon >mdi-sort</v-icon>
      </v-btn>
      </template>
      <v-list>
        <v-list-item @click="sortType = 0">
          <v-list-item-title>Trier par Nom</v-list-item-title>
        </v-list-item>
        <v-list-item @click="sortType = 1">
          <v-list-item-title>Trier par Année</v-list-item-title>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-row>
  <v-row>
    <v-col v-for="movie in moviesSort"  :key="movie.imdbId" class="d-flex child-flex" cols="3">
      <v-card class="mx-auto" max-width="300">
      <NuxtLink :to="'/movies/' + movie.imdbID">
        <v-img :src="movie.Poster" aspect-ratio="0.7" class="grey lighten-2">
        <template v-slot:placeholder>
          <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular indeterminate color="grey lighten-5">
            </v-progress-circular>
          </v-row>
        </template>
      </v-img>
      </NuxtLink>
      <v-card-title class="card-title">{{movie.Title}} ({{movie.Year}})</v-card-title>
      </v-card>
    </v-col>
  </v-row>
  </v-container>
</template>

<script>
  import _ from 'lodash'

  export default {
      props:['movies'],
       data(){
        return{
            sortType:0, // 0 -> trie par nom, 1 -> trie pas année
        }
    },
      methods:{
          detail: function(e){
            console.log("détail");
          }
      },
      computed:{
        moviesSort: function(){  
          if(this.movies){
            switch(this.sortType){
              case 0:
                return this.movies.sort(function (a,b){
                  if(a.Title.toLowerCase() < b.Title.toLowerCase()) { return -1; }
                  if(a.Title.toLowerCase() > b.Title.toLowerCase()) { return 1; }
                  return 0;
                });
              case 1:
                return this.movies.sort(function (a,b){
                  return a.Year - b.Year
                });
            }
          }
        }
      }
  }
</script>

<style scoped>
  .card-title{
    font-size: 1em;
  }
</style>