

<template>
  <div>
    <v-row justify="center" align="center">
      <h1>{{detail.Title}}</h1>
    </v-row>
    <v-row>
      <v-col cols="4">
        <v-img :src="detail.Poster" aspect-ratio="0.7" class="grey lighten-2">
        <template v-slot:placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
            <v-progress-circular indeterminate color="grey lighten-5">
            </v-progress-circular>
        </v-row>
        </template>
        </v-img>
      </v-col>
      <v-col cols="8">
        <div>{{detail.Released}} / {{detail.Runtime}} / {{detail.Genre}}</div>
        <div><span class="bold">De : </span> {{detail.Director}}</div>
        <div><span class="bold">Avec : </span> {{detail.Actors}}</div>
        <div><span class="bold">BoxOffice :</span> {{detail.BoxOffice}}</div>
        <div><span class="bold">Récompense :</span> {{detail.Awards}}</div>
      </v-col>
    </v-row>
    <v-row>
      <div class="flex align-center" justify="center" align="center">
        
        IMDB  : {{imdbRating}}
        <v-rating
        :value=imdbRating
        half-increments
        readonly
        length="10"
        background-color="orange lighten-3"
        color="orange"
        >
        </v-rating>
         ({{totalVotes}} votes)
      </div>
    </v-row>
       <v-row class="margin-bottom">
      <div class="flex align-center" justify="center" align="center">
        
        NOTER  :
        <v-rating v-model='userRate'
        half-increments
        length="10"
        background-color="orange lighten-3"
        color="orange"
        >
        </v-rating>
      </div>
    </v-row>
    <v-row class="margin-bottom" style="flex-direction:column">
      <div   cols="12" v-for="rating in detail.Ratings"  :key="rating.Source" >
         {{rating.Source}} :  {{rating.Value}}
      </div>
    </v-row>
     <v-row style="flex-direction:column">
    <h2>SYNOPSIS ET DETAILS</h2>
    {{detail.Plot}}
    </v-row>
    
    <v-snackbar v-model="snackbar">
      <v-icon color="green">mdi-check-circle-outline</v-icon> Merci, votre vote à bien été pris en compte !
    </v-snackbar>
  </div>
</template>



<script>
export default {
    props:['detail'],
     data(){
        return{
            snackbar : false,
            userRate:0,
            imdbRating: Number(this.detail.imdbRating),
            hasVote:false,
            totalVotes: 0// 0 -> trie par nom, 1 -> trie pas année
        }
    },
    methods:{
        vote: function (e) {
          if(!this.hasVote){
            this.hasVote = true,
            this.snackbar = true,
            this.totalVotes++ 
          }
          this.imdbRating = Number((((this.imdbRating * this.totalVotes) + this.userRate) / (this.totalVotes + 1)).toFixed(1));
        }
    },
    watch:{
      userRate:function(){
        this.vote();
      }
    },
    mounted() {
      this.totalVotes = this.detail.imdbVotes.replace(/,/g,'');
    },
}
</script>


<style scoped>
  .logo_imdb{
    height : 30px;
  }
  .flex{
    display:flex;
  }
  .bold{
    font-weight:bold;
  }
  .test{
    display:block
  }
  .margin-bottom{
    margin-bottom :20px;
  }
</style>