

<template>
<div>
    <v-text-field  v-on:input="searchByTitle" :loading="inRequest" placeholder="fait ta recherche mon frère" v-model="title"/>

    <MovieList :movies="movies"/>
</div>
</template>



<script>
import _ from 'lodash'
import MovieList from './MovieList.vue' 

export default {
    name:'Movies',
    data(){
        return{
            title:'',
            inRequest: false,
            movies:[]
        }
    },
    methods:{
        searchByTitle: _.debounce(async function (e) {
          this.inRequest = true;
          let request =   await this.$repositories.movie.searchByname(this.title)
          this.inRequest = false;
          this.movies = request.data.Search
        }, 500),
    },
}
</script>