<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div>
        <MovieSearch/>
        <MovieDetail v-if="detail" :detail="detail"/>
      </div>
    </v-col>
  </v-row>
</template>
<script>

import MovieDetail from '~/components/MovieDetail.vue'

  export default {
      components: {
        MovieDetail,
      },
     data(){
        return{
            detail: null,
        }
    },
    methods:{
        getDetail: async function(){
          let detail = await this.$repositories.movie.getById(this.$route.params.id);
          this.detail = detail.data;
        } 
    },
    mounted() {
        this.getDetail();
    },
  }
</script>
