<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <div class="text-center">
        <MovieSearch/>
      </div>
    </v-col>
  </v-row>
</template>

<script>
import MovieSearch from '~/components/MovieSearch.vue'

export default {
  components: {
    MovieSearch,
  }
}
</script>
