<template>
  <v-row>
    <v-col class="text-center">
      <img
        src="~/assets/images/imdb_logo.png"
        alt="Vuetify.js"
        class="logo-imdb"
      >
      <p class="sub-title">SEARCH ENGINE</p>
      <blockquote class="blockquote">
        &#8220;L'outil de recherche indispensable pour tous les zinzins du cinéma.&#8221;
        <footer>
          <small>
            <em>&mdash;Charlie Chaplin</em>
          </small>
        </footer>
      </blockquote>
       <blockquote class="blockquote">
        &#8220;OMG, ce site me fait jouir.&#8221;
        <footer>
          <small>
            <em>&mdash;Clara Morgane</em>
          </small>
        </footer>
      </blockquote>
       <blockquote class="blockquote">
        &#8220;Je n'arrive pas à croire qu'une seule personne est derrière ce projet.&#8221;
        <footer>
          <small>
            <em>&mdash;Bill Gates</em>
          </small>
        </footer>
      </blockquote>
    </v-col>
  </v-row>
</template>

<script>
import Logo from '~/components/Logo.vue'
import VuetifyLogo from '~/components/VuetifyLogo.vue'

export default {
  components: {
    Logo,
    VuetifyLogo
  }
}
</script>


<style scoped>
  .logo-imdb{
    height:300px
  }
  .sub-title{
    font-size:50px;
    margin-top: -60px;
  }
</style>